In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [100]:
# 6.1.1 simple KNN on payment_inc_ratio and dti

loan_data_1_1 = pd.read_csv('../data/loan200.csv')
loan_data_1_1.head(6)

    outcome  payment_inc_ratio    dti
0    target            9.00000  22.50
1   default            5.46933  21.33
2  paid off            6.90294   8.97
3  paid off           11.14800   1.83
4   default            3.72120  10.81
5  paid off            1.89923  11.34

In [105]:
# 6.1.1 (cont')
from sklearn.neighbors import NearestNeighbors

# training on KNN from sklearn
knn_1_1 = NearestNeighbors(n_neighbors=20, algorithm='ball_tree')

# test <- first data
test = loan_data_1_1.iloc[0, 1:3]
test = np.array(test).reshape(1,2)

# x_train <- payment_inc_ratio and dti
# y_train <- outcome
x_train = loan_data_1_1.iloc[1:,1:3]
y_train = loan_data_1_1.iloc[1:,0]

# fitting with x and y
knn_1_1.fit(x_train, y_train)

# querying nearest neighbors of 'test' and get the nearest neighbor's outcome
result_1_1 = knn_1_1.kneighbors(test, return_distance=False)
loan_data_1_1.iloc[result_1_1[0,0]][0]

'paid off'

In [108]:
# 6.1.4 Standardization, Regularization and Z score

loan_data_1_4 = pd.read_csv('../data/loan_data.csv')
features_1_4 = ['outcome','payment_inc_ratio', 'dti', 'revol_bal', 'revol_util']
loan_data_1_4 = loan_data_1_4[features_1_4]
loan_data_1_4.head(6)

   outcome  payment_inc_ratio    dti  revol_bal  revol_util
0  default            2.39320   1.00       1687         9.4
1  default            4.57170   5.55       5210        32.6
2  default            9.71600  18.08       9279        36.5
3  default           12.21520  10.08      10452        91.7
4  default            3.90888   7.06      11997        55.5
5  default            8.01977  13.22      32135        90.3

In [125]:
# 6.1.4 (cont')

# training on KNN from sklearn
knn_1_4 = NearestNeighbors(n_neighbors=5, algorithm='auto')

# test <- first data
test = loan_data_1_4.iloc[0,1:]
test = np.array(test).reshape(1,4)

print(test)

# x_train <- payment_inc_ratio and dti
# y_train <- outcome
x_train = loan_data_1_4.iloc[1:,1:]
y_train = loan_data_1_4.iloc[1:,0]

# fitting with x and y
knn_1_4.fit(x_train, y_train)

# querying nearest neighbors of 'test' and get the nearest neighbor's outcome
result_1_4 = knn_1_4.kneighbors(test, return_distance=False)
loan_data_1_4.iloc[result_1_4[0]]

[[2.3932 1.0 1687 9.4]]

        outcome  payment_inc_ratio    dti  revol_bal  revol_util
35535  paid off            8.30143  11.38      10074        69.5
33650  paid off            7.04082  21.81      25639        76.1
25862  paid off            4.14828  12.96       7302        88.0
42952  paid off            9.14223   1.23       7918        19.8
43598  paid off            2.50637   7.65      43305        48.7